body{
    background: url('../Images/car0.jpg') no-repeat;
    background-size: cover;
}
.rent{
width: 350px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
position: absolute;
color :white;
}
.rent p{
    font-size: 15px;
    margin: 15px;
}
.rent input{
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border:0;
    outline: none;
    border-radius: 5px;
}
.btn{
    border: none;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}
.btn:hover{
    background-color: orange;
}

.rent h6{
    padding: 10px;
}    
.rent h1{
    color: orange;
    margin-left: 100px;
}