#h1{
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  margin: 0;
  margin-bottom: 50px;
}

#image{
  transform: skew(-20deg);
  background-color: white;
  margin: 0px 45px;
  text-align: center;
}

.image {
  display: none;
  width: 75%;
  margin: auto;
    
}
.image1{
  transform: skew(20deg);
  padding: 40px 50px;
}

.image1 #h3{
  margin-top: 30px;
  margin-bottom: 0;
}

.image1 p{
  font-size: 17px;
  line-height: 28px;
}

.image2{
  margin-bottom: -55px;
  position: relative;
  z-index: 1;
}
.image2 img{
  vertical-align: middle;
  text-align: center;
  padding: 40%;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.rental{
  color:#f6d601;
  font-weight: bold;
  font-size: 20px;
}






.container {

  position: relative;
  background-color: #23262d;
  padding-top: 60px;
  padding-bottom: 80px;
  margin: 0;
  max-height:550px;
}








.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 55%;
  width: auto;
  padding: 16px;
  color: yellow;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev{
  left: 12%;
}
.next {
  right: 12%;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}







.dot {
  cursor: pointer;
  height: 13px;
  width: 45px;
  margin: 0 2px;
  background-color:white;
  border-radius: 10px;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: yellow;
}






.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}


/* transform: skew(-20deg); لجعل الصفحة مائلة */